@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

* {
  box-sizing: border-box;
}


.app {
  margin: 2rem;
}

a {
  color: #08c;
}

.major-heading-center {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 45px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.minor-heading-center {
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 20px; 
  text-align: center;
}

.minor-heading-2 {
  color: floralwhite; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left;
}

.minor-heading-3 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.major-heading-2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.input-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-1:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-1.error {
  color: red;
  border-color: red;
}


.input-area-2 {
  padding: .5rem;
  font-size: 16px;
  width: 80%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-2:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-2.error {
  border-color: red;
}

.select-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}


.label-normal {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  color: black;
}

.button-basic {
  width: 100%;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: 1;
  border-radius: 5px;
  background-color: #252540;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.button-basic:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

.button-basic.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.needbg {
  background-image: url('./common/images/signin.svg');
}

.app-scroll {
  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      display: none;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(230, 227, 227, 0.2);

      &:hover {
          background-color: rgba(230, 227, 227, 0.3);
      }
  }
}

.app-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.grid-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  height: 250px;
  cursor: pointer;
  text-decoration: underline;
  color: #1f396b;
  font-style: unset;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid-item:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.grid-container-search {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 1fr 1fr;
  padding: 1% 2% 1% 2%;
  grid-column-gap: 4%;
  grid-row-gap: 10px;
}

.grid-item-search {
  font-size: 18px;
  text-align: center;
}

/*.grid-item-search:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
}*/

.button-search {
  width: 100%;
  border-radius: 10px;
  color: white;
  background-color: #252540;
}

.major-upper-tabs {
  width: 100%;
}

.major-tabs {
  font-size: 23px;
  width: 150px;
  text-align: center;
}

.grid-container-datasearch-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 40px 80px 40px 80px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.grid-item-datasearch-2 {
  font-size: 20px;
  text-align: center;
  height: 150px;
  color: #1f396b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid-item-datasearch-2:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-data-heading {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.search-data-data {
  color: white;
  font-size: 25px;
}