body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

* {
  box-sizing: border-box;
}


.app {
  margin: 2rem;
}

a {
  color: #08c;
}

.major-heading-center {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 45px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.minor-heading-center {
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 20px; 
  text-align: center;
}

.minor-heading-2 {
  color: floralwhite; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left;
}

.minor-heading-3 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.major-heading-2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.input-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-1:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-1.error {
  color: red;
  border-color: red;
}


.input-area-2 {
  padding: .5rem;
  font-size: 16px;
  width: 80%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-2:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-2.error {
  border-color: red;
}

.select-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}


.label-normal {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  color: black;
}

.button-basic {
  width: 100%;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: 1;
  border-radius: 5px;
  background-color: #252540;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.button-basic:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

.button-basic.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.needbg {
  background-image: url('./common/images/signin.svg');
}