@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

* {
  box-sizing: border-box;
}


.app {
  margin: 2rem;
}

a {
  color: #08c;
}

.major-heading-center {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 45px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.minor-heading-center {
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 20px; 
  text-align: center;
}

.minor-heading-2 {
  color: floralwhite; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left;
}

.minor-heading-3 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

.major-heading-2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.input-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-1:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-1.error {
  color: red;
  border-color: red;
}


.input-area-2 {
  padding: .5rem;
  font-size: 16px;
  width: 80%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-area-2:focus {
  border-color: orange;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.input-area-2.error {
  border-color: red;
}

.select-area-1 {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
}


.label-normal {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  color: black;
}

.button-basic {
  width: 100%;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: 1;
  border-radius: 5px;
  background-color: #252540;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.button-basic:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

.button-basic.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.needbg {
  background-image: url('./common/images/signin.svg');
}

.app-scroll {
  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      display: none;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(230, 227, 227, 0.2);

      &:hover {
          background-color: rgba(230, 227, 227, 0.3);
      }
  }
}

.app-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
}

.grid-container-home {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 60px 120px 60px 120px;
  grid-column-gap: 120px;
  grid-row-gap: 60px;
}

.grid-item-home {
  border: 0px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  height: 250px;
  cursor: pointer;
  text-decoration: underline;
  color: #1f396b;
  font-style: unset;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item-home:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.grid-container-search {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 1fr 1fr;
  padding: 1% 2% 1% 2%;
  grid-column-gap: 4%;
  grid-row-gap: 10px;
}

.grid-item-search {
  font-size: 18px;
  text-align: center;
}

/*.grid-item-search:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
}*/

.button-search {
  width: 100%;
  border-radius: 10px;
  color: white;
  background-color: #252540;
}

.major-upper-tabs {
  width: 100%;
}

.major-tabs {
  font-size: 23px;
  width: 180px;
  text-align: center;
}

.grid-container-datasearch-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 40px 80px 40px 80px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.grid-item-datasearch-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  height: 150px;
  color: #1f396b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid-item-datasearch-2:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-data-heading {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.search-data-data {
  color: white;
  font-size: 25px;
}

.chart-box {
  margin: 1%;
}

.multi-chart-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 40px 40px 40px 40px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.multi-chart-grid-item {
  min-width: 300px;
  max-height: 400px;
  border: 0px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #1f396b;
  font-style: unset;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.multi-chart-grid-item:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.testing {
  max-height: 400px;
  max-width: 700px;
}

.loader {
  color: #2d3149;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
